{{ define "templates/layouts/header.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Go Chat</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.6/assets/css/emojione.min.css" />
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
    <header>

        <nav>

            <div class="nav-wrapper">
               
                <label style="color: aliceblue;margin-left: 100px;" >Hello <b id="chatuser" style="color:gold;font-size: medium;"></b></label>
             
                <a href="/" class="brand-logo right" style="margin-right: 100px;">Golang Chat</a>
            </div>
        </nav>
    </header>
    {{end}}